.form {
    display: flex;
    align-items: flex-start;  // Alinha os itens no topo, em vez de no centro
    flex-direction: row;      // Coloca o formulário e a imagem lado a lado
    padding: 10px;
    margin: auto;
    gap: 30px;

    &Coluna {
        display: flex;
        flex-direction: column; // Organiza os labels e inputs em coluna
        gap: 10px;
        flex: 1; // Permite que a coluna ocupe o espaço disponível
    }

    &Personagem {
        width: 150px;
        height: auto;
        border-radius: 10px;
    }

    &Input {
        border: 2px solid #ccc;
        background-color: #f8f8f8;
        padding: 8px;

        &:hover {
            border-color: #888;  // Muda a cor da borda ao passar o mouse
            background-color: #f0f0f0;  // Fundo levemente mais escuro no hover
        }

        &:focus {
            border-color: #007bff;  // Destaque azul ao focar
            background-color: #fff;  // Fundo branco para destaque
            box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);  // Brilho sutil ao focar
        }
    }

    // Ajustando a largura e estilo do input 'lvl' específico
    .lvl {
        width: 35px;
        height: 3px;
        border: 2px solid #ccc;
        background-color: #f8f8f8;
        padding: 8px;

        &:hover {
            border-color: #888;  // Muda a cor da borda ao passar o mouse
            background-color: #f0f0f0;  // Fundo levemente mais escuro no hover
        }

        &:focus {
            border-color: #007bff;  // Destaque azul ao focar
            background-color: #fff;  // Fundo branco para destaque
            box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);  // Brilho sutil ao focar
        }
    }
}
